@media only screen and (max-width: 300px){
    .reg-main-cont{
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F6881F;
        overflow: hidden;
    }
    .register-cont{
        height: 530px;
        width: 80%;
        margin: auto;
        margin-top:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        background-color: transparent;
        background-image: linear-gradient(360deg, #fff 33%, #704a03 100%);
    }
    .form-dir{
        width: 80%;
        height: 90%;
        padding: 10px;
        border-radius: 20px;
        background-color: #fff;
    }
    .form-wcontainer{
        width: 100%;
        height: 499px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .form-wcontainer div{
        width: 100%;
        margin: 3px;
        display: flex;
        justify-content: space-around;
    }
    .form-wcontainer div label{
        width: 40%;
        font-size: 11px;
        color: black;
    }
    .form-wcontainer div input{
        width: 60%;
        border: 1px solid #F6881F;
        background-color: transparent;
    }
    .form-wcontainer div span{
        font-size: 11px;
    }
    .btn--btn button{
        background-color: #F6881F;
        color: #fff;
        border: none;
        border-radius: 10px;
        height: 30px;
    }
    .btn--btn button:hover{
       background-color: brown;
    }
    .a-a a{
        color: #F6881F;
        text-decoration: none;
        font-weight: bold;
    }
    .a-a a:hover {
            color: red;
            text-decoration: underline;
    }
    /* .a-a a:visited {
        color: purple;
      } */
}

@media only screen and (min-width: 301px) and (max-width: 767px){
    .reg-main-cont{
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F6881F;
        overflow: hidden;
    }
    .register-cont{
        height: 530px;
        width: 80%;
        margin: auto;
        margin-top:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        background-color: transparent;
        background-image: linear-gradient(360deg, #fff 33%, #704a03 100%);
    }
    .form-dir{
        width: 80%;
        height: 90%;
        padding: 10px;
        border-radius: 20px;
        background-color: #fff;
    }
    .form-wcontainer{
        width: 100%;
        height: 499px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .form-wcontainer div{
        width: 100%;
        margin: 3px;
        display: flex;
        justify-content: space-around;
    }
    .form-wcontainer div label{
        width: 40%;
        font-size: 12px;
        color: black;
    }
    .form-wcontainer div input{
        width: 60%;
        border: 1px solid #F6881F;
        background-color: transparent;
    }
    .form-wcontainer div span{
        font-size: 11px;
    }
    .btn--btn button{
        background-color: #F6881F;
        color: #fff;
        border: none;
        border-radius: 10px;
        height: 30px;
    }
    .btn--btn button:hover{
       background-color: brown;
    }
    .a-a a{
        color: #F6881F;
        text-decoration: none;
        font-weight: bold;
    }
    .a-a a:hover {
            color: red;
            text-decoration: underline;
    }
    /* .a-a a:visited {
        color: purple;
      } */
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .reg-main-cont{
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F6881F;
        overflow: hidden;
    }
    .register-cont{
        height: 730px;
        width: 60%;
        margin: auto;
        margin-top:200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        background-color: transparent;
        background-image: linear-gradient(360deg, #fff 33%, #704a03 100%);
    }
    .form-dir{
        width: 80%;
        height: 90%;
        padding: 10px;
        border-radius: 20px;
        background-color: #fff;
    }
    .form-wcontainer{
        width: 100%;
        height: 499px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .form-wcontainer div{
        width: 100%;
        margin: 3px;
        display: flex;
        justify-content: space-around;
    }
    .form-wcontainer div label{
        width: 40%;
        font-size: 13px;
        color: black;
    }
    .form-wcontainer div input{
        width: 60%;
        border: 1px solid #F6881F;
        background-color: transparent;
    }
    .form-wcontainer div span{
        font-size: 11px;
    }
    .btn--btn button{
        background-color: #F6881F;
        color: #fff;
        border: none;
        border-radius: 10px;
        height: 30px;
    }
    .btn--btn button:hover{
       background-color: brown;
    }
    .a-a a{
        color: #F6881F;
        text-decoration: none;
        font-weight: bold;
    }
    .a-a a:hover {
            color: red;
            text-decoration: underline;
    }
    /* .a-a a:visited {
        color: purple;
      } */
}

@media only screen and (min-width: 1024px) and (max-width: 1279px){
    .reg-main-cont{
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
        height: 90%;
        background-color: #F6881F;
        overflow: hidden;
    }
    .register-cont{
        height: 530px;
        width: 60%;
        margin: auto;
        margin-top:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        background-color: transparent;
        background-image: linear-gradient(360deg, #fff 33%, #704a03 100%);
    }
    .form-dir{
        width: 80%;
        height: 90%;
        padding: 10px;
        border-radius: 20px;
        background-color: #fff;
    }
    .form-wcontainer{
        width: 100%;
        height: 499px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .form-wcontainer div{
        width: 100%;
        margin: 3px;
        display: flex;
        justify-content: space-around;
    }
    .form-wcontainer div label{
        width: 40%;
        font-size: 15px;
        color: black;
    }
    .form-wcontainer div input{
        width: 60%;
        border: 1px solid #F6881F;
        background-color: transparent;
    }
    .form-wcontainer div span{
        font-size: 11px;
    }
    .btn--btn button{
        background-color: #F6881F;
        color: #fff;
        border: none;
        border-radius: 10px;
        height: 30px;
    }
    .btn--btn button:hover{
       background-color: brown;
    }
    .a-a a{
        color: #F6881F;
        text-decoration: none;
        font-weight: bold;
    }
    .a-a a:hover {
            color: red;
            text-decoration: underline;
    }
    /* .a-a a:visited {
        color: purple;
      } */
}

@media only screen and (min-width: 1280px){
    .reg-main-cont{
        position: relative;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F6881F;
        overflow: hidden;
    }
    .register-cont{
        height: 530px;
        width: 60%;
        margin: auto;
        margin-top:100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        background-color: transparent;
        background-image: linear-gradient(360deg, #fff 33%, #704a03 100%);
    }
    .form-dir{
        width: 80%;
        height: 90%;
        padding: 10px;
        border-radius: 20px;
        background-color: #fff;
    }
    .form-wcontainer{
        width: 100%;
        height: 499px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .form-wcontainer div{
        width: 100%;
        margin: 3px;
        display: flex;
        justify-content: space-around;
    }
    .form-wcontainer div label{
        width: 40%;
        font-size: 16px;
        color: black;
    }
    .form-wcontainer div input{
        width: 60%;
        border: 1px solid #F6881F;
        background-color: transparent;
    }
    .form-wcontainer div span{
        font-size: 11px;
    }
    .btn--btn button{
        background-color: #F6881F;
        color: #fff;
        border: none;
        border-radius: 10px;
        height: 30px;
    }
    .btn--btn button:hover{
       background-color: brown;
    }
    .a-a a{
        color: #F6881F;
        text-decoration: none;
        font-weight: bold;
    }
    .a-a a:hover {
            color: red;
            text-decoration: underline;
    }
    /* .a-a a:visited {
        color: purple;
      } */
}




